Orinoco/apps/PeriodicSender/build/*
Orinoco/apps/Sink/build/*
Orinoco/apps/DataSender/build/*
Orinoco/apps/LinkTest/build/*
Orinoco/apps/TestDissemination/build/*
Orinoco/apps/CtpDissemination/build
Orinoco/apps/SinkCollectDist/build
Orinoco/apps/SinkCollectOnly/build
